# Ignore the .vscode folder
.vscode/

# Ignore all .exe , .out files
*.exe
*.out
# Ignore input.txt and output.txt
input.txt
output.txt
create_files.cpp
tempCodeRunnerFile.cpp
main.cpp
input.in
in2.in
output.out
main
reverse
